@model AddCarModelViewModel

@{
    ViewData["Title"] = "Add Car Model";
}

<h2>Add Car Model</h2>

<form asp-action="AddCarModel" asp-controller="Admin" method="post">
    <div class="form-group">
        <label asp-for="ModelName" class="control-label"></label>
        <input asp-for="ModelName" class="form-control" />
        <span asp-validation-for="ModelName" class="text-danger"></span>
    </div>

    <div style="margin-bottom:10px" class="form-group">
        <label asp-for="CarMakeId" class="control-label"></label>
        <select asp-for="CarMakeId" class="form-control"
                asp-items="@(new SelectList(Model.CarMakes, "Id", "Name"))">
            <option value="">-- Select a Car Make --</option>
        </select>
        <span asp-validation-for="CarMakeId" class="text-danger"></span>
        <a asp-action="AddCarMake" class="btn btn-primary mt-2">Add Car Make</a>
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
    <button type="reset" class="btn btn-outline-primary">Cancel</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}